header{
  border-top:10px solid #005AAB;
  border-bottom:10px solid #005AAB;
  padding:1px;
}

header img{
  float:right;
  height:40px;
}

nav {
  border-right:0px solid #005AAB;
  width:200px;
  height:600px;
  float:left;
}

nav ol{
  list-style:none;
  font-size:15px;
  color:#005AAB;
}

article{
  float:left;
  padding:20px;
  font-size:20px;
  color:#005AAB;
}

h1{
  font-size:20px;
  color:#005AAB;
}

h2{
  font-size:20px;
}

table.ex1 {width:80%; margin:0 auto; text-align:left; background:#DDDDDD; color:#555555; border:1}
.ex1 th, .ex1 td {padding:5px 10px}
.ex1 tbody tr:hover {background:#FFFFFF}
