header{
  border-bottom:1px solid gray;
  padding:20px;
}

nav {
  border-right:1px solid gray;
  width:200px;
  height:600px;
  float:left;
}

nav ol{
  list-style:none;
}

article{
  float:left;
  padding:20px;
}

h1{
  font-size:30px;
}

h2{
  font-size:20px;
}

table.ex1 {width:80%; margin:0 auto; text-align:left; background:#DDDDDD; color:#555555; border:1}
.ex1 th, .ex1 td {padding:5px 10px}
.ex1 tbody tr:hover {background:#FFFFFF}
