
a:link {color:#005AAB; text-decoration:none; }
a:hover {color:#005AAB; text-decoration:underline; }
a:active {color:#005AAB; text-decoration:none; }
a:visited {color:#005AAB; text-decoration:none; }

input[type="text"] {
  font-family:monospace;
  font-weight:bold;
  padding: 10px 10px 10px 10px;
  font-size:20px;
  color:#005AAB;
}

input[type="submit"] {
  padding: 10px 10px;
  font-size:20px;
  color:#005AAB;
}

input[type="button"] {
  padding: 10px 10px;
  font-size:20px;
  color:#005AAB;
}

header{
  border-top:10px solid #005AAB;
  padding:0px;
}

header img{
  float:right;
  height:40px;
}

nav {
  border-right:0px solid #005AAB;
  width:200px;
  height:600px;
  float:left;
}

nav ol{
  list-style:none;
  font-size:20px;
  font-weight:bold;
  color:#005AAB;
}

article{
  float:left;
  padding:20px;
  font-size:20px;
  color:#005AAB;
}

h1{
  font-size:30px;
  color:#005AAB;
}

h2{
  font-size:20px;
}

table{
  width:80%;
  margin:0
  auto;
  text-align:left;
  background:#DDDDDD;
  color:#555555;
  border:1
}
